<form action="/faculty/new" method="post" enctype="multipart/form-data" class="form-horizontal" >
  <fieldset>
    <legend>Yeni Fakülte Kaydı</legend>
    <div class="control-group">
      <label class="control-label" for="input02">Ad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge required" id="input02" name="firstname" value="">
      </div>
    </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Ekle</button>
    <a class="btn" href="/">İptal</a>
  </div>
</form>

