<a href="/student/new">Öğrenci Ekle</a></br>
<a href="/department/new">Bölüm Ekle</a></br>
<a href="/faculty/new">Fakülte Ekle</a></br>
<a href="/student/search">Öğrenci Bul</a></br>
<a href="/student/search_with_soap">Öğrenci Bul(Soap İle)</a></br>
